.columnas {
    /* width: 100%;      */

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-direction: column;
}

.columna {
    padding: 10px;
    /*justify-items: center;
       
    align-content: center;
     align-items: center;*/
    text-align: center;
    /*width: 100%;*/

    box-sizing: border-box;
}

.columna img {
    /* max-width: 50%;*/


    /* max-height: 50%;*/
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    /* border: 1px solid rgb(239, 29, 29); sólo para pruebas */
}


.columna p {
    /*  vertical-align: bottom;*/
    /* border: 1px solid rgb(123, 158, 129); sólo para pruebas */
    box-sizing: border-box;
    /*  width: 99%;*/
}

.columna h2 {
    font-weight: 400;
    height: 15%;
    /* border: 1px solid blue; sólo para pruebas */
    /*width:99%;*/
    /*
    padding: 0 px;*/
    box-sizing: content-box;
}


/* Para pantallas que sean iguales o mayores a 480*/
@media screen and (min-width: 480px) {

    .columnas {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        flex-direction: row;
    }

    .columna {
        width: 14.4%;
        border: 1px solid #BF7630;
        /*
        text-align: center;
        justify-items: center;
        box-sizing: border-box;*/

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .columna img {
        max-width: 90%;
        max-height: 90%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        height: 150px;
    }


    .columna h2 {
        height: 40px;
        margin-top: 10px;
        /* height: 50px;*/
        /*
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        */
    }


    .columna p {
        height: 120px;

        margin-top: 1px;
        font-size: 16px;
        /*
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        */
    }




}